.CartCard {
  display: flex;
  padding: 1vmax;
  height: 10vmax;
  align-items: flex-start;
  box-sizing: border-box;
}
.CartCard > img {
  width: 10vmax;
}

.CartCard > div {
  display: flex;
  margin: 0.3vmax 1vmax;
  flex-direction: column;
}

.CartCard > div > a {
  font: 300 1.2vmax cursive;
  padding-bottom: 0.2vmax;
  color: rgba(24, 24, 24, 0.815);
  text-decoration: none;
}

.CartCard > div > span {
  font: 300 1vmax "Roboto";
  padding-bottom: 0.2vmax;
  color: rgba(24, 24, 24, 0.815);
}

.CartCard > div > p {
  color: tomato;
  font: 100 0.8vmax "Roboto";
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .CartCard {
    padding: 3vmax 0;
    height: 25vmax;
  }
  .CartCard > img {
    width: 10vmax;
  }

  .CartCard > div {
    margin: 1vmax 2vmax;
  }

  .CartCard > div > a {
    font: 300 2vmax cursive;
  }

  .CartCard > div > span {
    font: 300 1.5vmax "Roboto";
  }

  .CartCard > div > p {
    font: 100 1.3vmax "Roboto";
    margin-top: 2rem;
  }
}