.section {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}

@media screen and (min-width: 992px) {
  .sectionCenter {
    width: 95vw;
    grid-template-columns: 1fr 1fr;
  }
  .section {
    width: 95vw;
  }
}
.menu {
  padding: 5rem 0;
}
.title {
  text-align: center;
  margin-bottom: 2rem;
}

.underline {
  width: 7rem;
  height: 0.25rem;
  background: #eb00ff;
  margin-top: 0.4rem;
  margin-left: auto;
  margin-right: auto;
}

.btncontainer {
  margin-bottom: 4rem;
  display: flex;
  justify-content: center;
}

.sectionCenter {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  display: grid;
  gap: 3rem 2rem;
  justify-items: center;
}

.menuitem {
  display: grid;
  gap: 1rem 2rem;
  max-width: 25rem;
}

.photo {
  object-fit: cover;
  height: 200px;
  width: 100%;
  border-radius: 0.25rem;
  display: block;
}

.logo {
  margin-top: -2rem;
  object-fit: cover;
  height: auto;
  width: 6rem;
  border-radius: 0.25rem;
}

.type {
  display: flex;
  flex-direction: row;
}

.itemInfo div {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}
.itemInfo h4 {
  margin-bottom: 0.5rem;
  text-transform: capitalize;
}

.veg {
  color: rgb(15, 248, 15);
}
.nonveg {
  color: red;
}
.itemInfo img {
  width: 1rem;
  height: 1rem;
}
.price {
  margin-top: 1rem;
  color: #000000;
}
.itemtext {
  margin-bottom: 0;
  padding-top: 1rem;
}

.cartbtn > button {
  background-color: #c58aff;
  color: white;
  border: none;
  width: 8rem;
  padding: 0.7rem 0;
  font: 300 0.8vmax "Roboto";
  margin: 1vmax 4vmax;
  cursor: pointer;
  border-radius: 20px;
  font-size: 0.7rem;
}

.cartbtn > button:hover {
  background-color: #b796d8;
}
.btns {
  display: flex;
  align-items: center;
  justify-content: center;
}
.btns  button {
  text-transform: uppercase;
  border: 1px solid black;
  background-color: white;
  color: black;
  padding: 0.6rem 1.2rem;
  font-size: 0.8rem;
  cursor: pointer;
  border-color: #626262;
  color: black;
  margin-left: 1rem;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  transition: all 0.5s;
  box-shadow: 5px 5px 5px grey;
  margin-bottom: 1rem;
  width: 10rem;
}

.btns > button:last-child{
  width: 8.3rem;
}

.btns  button:hover {
  background: #474747;
  color: white;
}

@media screen and (min-width: 768px) {
  .menuitem {
    grid-template-columns: 225px 1fr;
    gap: 0 1.25rem;
    max-width: 40rem;
  }
  .photo {
    height: 175px;
  }
  .cartbtn > button {
    font-size: 0.7rem;
  }
  .itemInfo div {
    align-items: flex-start;
  }
}
@media screen and (min-width: 1200px) {
  .sectionCenter {
    width: 95vw;
    grid-template-columns: 1fr 1fr;
  }
  .photo {
    height: 150px;
  }
  .cartbtn > button {
    font-size: 0.7rem;
  }
  .itemInfo div {
    align-items: flex-start;
  }

  .btns {
    text-transform: uppercase;
  }
}
 
@media screen and (max-width: 600px) {
  .btns button {
    margin: 0;
    margin-left: 1rem;
     width: 8rem;
  }
  .btns > button:last-child{
  width: 7rem;
}
}

@media screen and (max-width: 420px) {
  .btncontainer {
    flex-wrap: wrap;
  }
}